<div class="calendar" ng-if="eventsLoaded" ng-controller="calendarCtrl as vm">
    <h2 class="text-center">{{ vm.calendarTitle }}</h2>
    <ng-include src="'../views/calendarControls.html'"></ng-include>
    <mwl-calendar  
        events="events"
        view="vm.calendarView"
        view-title="vm.calendarTitle"
        view-date="vm.viewDate"
        on-event-click="vm.eventClicked(calendarEvent)"
        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="vm.cellIsOpen"
        day-view-start="08:00"
        day-view-end="17:59"
        day-view-split="30"
        cell-modifier="vm.modifyCell(calendarCell)"
        cell-auto-open-disabled="true"
        on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>
</div>
<div class="panel">
    <h2 class="text-center">Project Manager</h2>
    <!-- <form class="create-event">
        <div class="form-group panel-form"> -->

        <!-- <div class="panel-form"> -->
                <!-- <input type="text" class="form-control input-lg text-center event-title-input" placeholder="Event Title" ng-model="">
                <input type="text" class="form-control input-lg text-center event-description-input" placeholder="Event Description" ng-model="">
                <input type="text" class="form-control input-lg text-center event-location-input" placeholder="Location" ng-model="">
                <input type="date" class="form-control input-lg text-center event-start-date-input" placeholder="Start Date" ng-model="">
                <input type="time" class="form-control input-lg text-center event-start-time-input" placeholder="Start Time" ng-model="">
                <input type="date" class="form-control input-lg text-center event-end-date-input" placeholder="End Date" ng-model="">
                <input type="time" class="form-control input-lg text-center event-end-time-inut" placeholder="End Time" ng-model=""> -->
                
                <!-- <input type="text" class="form-control text-center event-title-input" placeholder="Event Title">
                <input type="text" class="form-control text-center event-description-input" placeholder="Event Description">
                <input type="text" class="form-control text-center event-location-input" placeholder="Location">
                <h5 class="date">Start Date</h5>
                <h5 class="time">Start Time</h5>
                <input type="date" class="form-control text-center event-start-date-input" placeholder="Start Date">
                <input type="time" class="form-control text-center event-start-time-input" placeholder="Start Time">
                <h5 class="date">End Date</h5>
                <h5 class="time">End Time</h5>
                <input type="date" class="form-control text-center event-end-date-input" placeholder="End Date">
                <input type="time" class="form-control text-center event-end-time-input" placeholder="End Time">
        </div>

        <button type="submit" class="btn btn-success btn-lg event-add-submit" ng-click="">Add Event</button>
    </form> -->
    <form class="create-project">
        <div class="form-group panel-form">
            <input type="text" class="form-control text-center project-title-input" placeholder="Project Title" ng-model="projectData.title">
            <input type="text" class="form-control text-center project-description-input" placeholder="Project Description"ng-model="projectData.description">
            <input type="text" class="form-control text-center project-client-input" placeholder="Client Name" ng-model="projectData.client">
            <input type="text" class="form-control text-center project-number-input" placeholder="Project ID" ng-model="projectData.jobID">
            <input type="number" class="form-control text-center project-hours-input" placeholder="Estimate Hours" ng-model="projectData.hours">
            <h5 class="date">Start Date</h5>
            <h5 class="date end-date-no-time">End Date</h5>
            <input type="date" class="form-control text-center event-start-date-input" placeholder="Start Date" ng-model="projectData.startTime">
            <input type="date" class="form-control text-center event-end-date-input" placeholder="End Date" ng-model="projectData.endTime">
            <select class="project-schedule-input" name="Scheduling Preference" ng-model="projectData.schedulePreference"> 
                <option value="spreadOut">Spread Out</option>
                <option value="asap" selected="selected">ASAP</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-lg project-add-submit" ng-click="smartScheduler()">Create Project</button>
    </form>
</div>

