<div class="calendar" ng-if="eventsLoaded" ng-controller="calendarCtrl as vm">
    <h2 class="text-center">{{ vm.calendarTitle }}</h2>
    <ng-include src="'../views/calendarControls.html'"></ng-include>
    <mwl-calendar  
        events="events"
        view="vm.calendarView"
        view-title="vm.calendarTitle"
        view-date="vm.viewDate"
        on-event-click="vm.eventClicked(calendarEvent)"
        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="vm.cellIsOpen"
        day-view-start="08:00"
        day-view-end="17:59"
        day-view-split="30"
        cell-modifier="vm.modifyCell(calendarCell)"
        cell-auto-open-disabled="true"
        on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>
</div>
<div class="panel">
    <h2 class="text-center">Project Manager</h2>
    <form>
        <div class="form-group panel-form">
        <!-- <div class="panel-form"> -->
                <!-- <input type="text" class="form-control input-lg text-center event-title-input" placeholder="Event Title" ng-model="">
                <input type="text" class="form-control input-lg text-center event-description-input" placeholder="Event Description" ng-model="">
                <input type="text" class="form-control input-lg text-center event-location-input" placeholder="Location" ng-model="">
                <input type="date" class="form-control input-lg text-center event-start-date-input" placeholder="Start Date" ng-model="">
                <input type="time" class="form-control input-lg text-center event-start-time-input" placeholder="Start Time" ng-model="">
                <input type="date" class="form-control input-lg text-center event-end-date-input" placeholder="End Date" ng-model="">
                <input type="time" class="form-control input-lg text-center event-end-time-inut" placeholder="End Time" ng-model=""> -->
                <input type="text" class="form-control text-center event-title-input" placeholder="Event Title">
                <input type="text" class="form-control text-center event-description-input" placeholder="Event Description">
                <input type="text" class="form-control text-center event-location-input" placeholder="Location">
                <input type="date" class="form-control text-center event-start-date-input" placeholder="Start Date">
                <input type="time" class="form-control text-center event-start-time-input" placeholder="Start Time">
                <input type="date" class="form-control text-center event-end-date-input" placeholder="End Date">
                <input type="time" class="form-control text-center event-end-time-inut" placeholder="End Time">
        </div>

        <button type="submit" class="btn btn-primary btn-lg event-add-submit" ng-click="">Add Event</button>
    </form>
</div>

