html { 
  overflow-y:scroll; 
}

body { 
  margin-top : 0;
  padding-top : 20px; 
}

body.container {
  margin-top : 0;
  padding-top : 0;
}

.login-box {
  margin-top : 150px;
}

.jumbotron {
  margin : 0 auto;
  width: 60%;
  background-color: white;
  border-color : white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendar {
  float: left;
  width: 60%;
  margin-bottom: 100px;
}

.panel {
  width: 35%;
  height: 650px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #428bca;
  color : white;
  padding-left : 3%;
  padding-right : 3%;
}

.panel .form-control {
  width: 40%;
  height: 6%;
  margin: 3%;
  float: left;
}

.event-title-input {
  float: none;
  margin: 0 auto;
}

.event-description-input {
  float: none;
  margin: 0 auto;
}

.event-location-input {
  float: none;
  margin: 0 auto;
}

.navbar-default {
  background-color : white;
  border-color : white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#todo-list { 
  margin-bottom:30px; 
}