html { 
  overflow-y:scroll; 
}

body { 
  margin-top : 0;
  padding-top : 20px; 
}

body.container {
  margin-top : 0;
  padding-top : 0;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1280px;
  }
}

.login-box {
  margin-top : 150px;
}

.jumbotron {
  margin : 0 auto;
  width: 60%;
  background-color: white;
  border-color : white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendar {
  float: left;
  width: 60%;
  margin-bottom: 100px;
}

.panel {
  width: 35%;
  height: 650px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #428bca;
  color : white;
  padding-left : 3%;
  padding-right : 3%;
}

.panel .form-control {
  width: 40%;
  height: 6%;
  margin: 3%;
  float: left;
}

.form-control.event-title-input {
  float: none;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 3%;
  width: 60%;
}

.form-control.project-title-input {
  float: none;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 6%;
  width: 60%;
}

.form-control.event-description-input {
  float: none;
  margin: 0 auto;
  margin-bottom: 6%;
  width: 90%;
}

.form-control.project-description-input {
  float: none;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 6%;
  width: 90%;
}

.form-control.event-location-input {
  float: none;
  margin: 0 auto;
  margin-bottom: 3%;
  width: 60%;
}

.form-control.project-number-input {
  float: none;
  margin: 0 auto;
  margin-bottom: 6%;
  width: 60%;
}

.form-control.project-client-input {
  float: none;
  margin: 0 auto;
  margin-bottom: 6%;
  width: 60%;
}

.form-control.project-hours-input {
  float: none;
  margin: 0 auto;
  margin-bottom: 6%;
  width: 60%;
}

h5.date {
  float: left;
  margin-left: 12%;
}

h5.time {
  float: right;
  margin-right: 12%;
}

h5.end-date-no-time {
  float: right;
  margin-right: 22%;
}

.form-control.event-start-date-input {
  font-size: 90%;
  margin-top: 0;
  padding: 2px;
}

.form-control.project-start-date-input {
  font-size: 90%;
  margin-top: 0;
  padding: 2px;
}

.form-control.event-start-time-input {
  font-size: 90%;
  float: right;
  margin-top: 0;
  padding: 2px;
}

.form-control.event-end-date-input {
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 10%;
  padding: 2px;
}

.form-control.project-end-date-input {
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 6%;
  padding: 2px;
  float: right;
}

.form-control.event-end-time-input {
  font-size: 90%;
  float: right;
  margin-bottom: 10%;
  margin-top: 0;
  padding: 2px;
}

.project-schedule-input {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 40%;
  height: 35px;
}

.event-add-submit {
  float: none;
  display: block;
  margin: 0 auto;
}

.project-add-submit {
  float: none;
  display: block;
  margin: 0 auto;
  clear : both;
}

.navbar-default {
  background-color : white;
  border-color : white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#todo-list { 
  margin-bottom:30px; 
}