html { 
  overflow-y:scroll; 
}

body { 
  padding-top:50px; 
}

.calendar {
  float: left;
  width: 60%;
  margin-bottom: 100px;
}

.panel {
  width: 35%;
  height: 600px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #428bca;
  color : white;
}

#todo-list { 
  margin-bottom:30px; 
}